// font stacks
font-stack__base = 'Roboto', sans-serif, ui-sans-serif
font-stack__mono = 'Roboto Mono', monospace, ui-monospace
font-stack__slab = 'Roboto Slab', serif, ui-serif

// widths
width__default   = width__xl
width__sm        = 480px
width__md        = 1080px
width__lg        = 1440px
width__xl        = 2033px
