@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,400;8..144,700&family=Roboto+Mono:wght@100;400;700&family=Roboto+Slab:wght@100;400;700&family=Roboto:wght@100;400;700&display=swap')

// core
@import "_nucleus/reset.styl"
@import "_nucleus/modern-normalize.styl"
@import "_nucleus/variables.styl"
@import "_nucleus/mixins.styl"
@import "_nucleus/nucleus.styl"

// core
@import "00-core/**/*"

// atoms
@import "01-atoms/**/*"

// molecules
@import "02-molecules/**/*"

// organisms
@import "03-organisms/**/*"

// symbiosis
//@import "04-symbiosis/**/*"

// synergy
@import "05-synergy/**/*"
