{% extends '@molecule/titles/title.html.twig' %}

{% block title %}
  {% if label %}
    <h2{{ title_attributes }}>
      {% include '@atom/labels/label.html.twig' %}
    </h2>
  {% endif %}
{% endblock %}
