<a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="site-branding__logo">
  <img src="{{ site_logo }}" class="site-branding__logo-image" alt="{{ 'Home'|t }}" typeof="foaf:Image"/>
</a>
